<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ blurb }}">
  <meta name="author" content="{{ author }}">

  <title>{{ title }} - {{ site.name }}</title>

  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
  <!-- header -->
  <header class="w3l-header">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <span class="fa fa-pencil-square-o"></span> GitHub Blog</a>
        <!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li class="nav-item dropdown @@category__active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Categorías <span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item @@ls__active" href="lifestyle.html">DevOps</a>
                <a class="dropdown-item @@cp__active" href="culture.html">GitHub</a>
                <a class="dropdown-item @@cp__active" href="culture.html">Contenedores</a>
                <a class="dropdown-item @@cp__active" href="culture.html">Inteligencia Artificial</a>
              </div>
            </li>
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="contact.html">Contáctame</a>
            </li>
          </ul>

          <!--/search-right
                    <div class="search-right mt-lg-0 mt-2">
                        <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                        <! search popup>
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <h3 class="hny-title two">Search here</h3>
                                <form action="#" method="Get" class="search-box">
                                    <input type="search" placeholder="Search for blog posts" name="search"
                                        required="required" autofocus="">
                                    <button type="submit" class="btn">Search</button>
                                </form>
                                <a class="close" href="#close">×</a>
                            </div>
                        </div>
                        <! /search popup ->
                    </div>
                    <!-//search-right->

                    <!-- author -->
          <div class="header-author d-flex ml-lg-4 pl-2 mt-lg-0 mt-3">
            <a class="img-circle img-circle-sm" href="#author">
              <img src="assets/images/author.jpg" class="img-fluid" alt="...">
            </a>
            <div class="align-self ml-3">
              <a href="#author">
                <h5>agomezguru</h5>
              </a>
              <span>CIO & Full Stack Develop</span>
            </div>
          </div>
          <!-- // author-->
        </div>

        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </div>
    </nav>
    <!--//nav-->
  </header>
  <!-- //header -->

  <div class="w3l-homeblock1 py-5">
    <div class="container pt-lg-5 pt-md-4">
      <!-- block -->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="section-title-left">Publicaciones Recientes </h3>
          <div class="row">
            <div class="col-lg-5 col-md-6 item">
              <div class="card">
                <div class="card-header p-0 position-relative">
                  <a href="#blog-single">
                    <img class="card-img-bottom d-block radius-image" src="assets/images/b1.jpg" alt="Card image cap">
                  </a>
                </div>
                <div class="card-body p-0 blog-details">
                  <a href="#blog-single" class="blog-desc">How to Create Detailed Buyer Personas for
                    Your Business
                  </a>
                  <p>Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                    vitae sit.</p>
                  <div class="author align-items-center mt-3 mb-1">
                    <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                  </div>
                  <ul class="blog-meta">
                    <li class="meta-item blog-lesson">
                      <span class="meta-value"> April 13, 2020 </span>
                    </li>
                    <li class="meta-item blog-students">
                      <span class="meta-value"> 6min read</span>
                    </li>
                  </ul>
                  <a href="#featuredposts" class="btn btn-style btn-outline mt-4">Ver todos</a>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-6 mt-md-0 mt-5">
              <div class="list-view list-view1">
                <div class="grids5-info">
                  <a href="#blog-single" class="d-block zoom"><img src="assets/images/1.jpg" alt=""
                      class="img-fluid radius-image news-image"></a>
                  <div class="blog-info align-self">
                    <a href="#blog-single" class="blog-desc1">How to Create your blog domain to make
                      it live
                    </a>
                    <div class="author align-items-center mt-3 mb-1">
                      <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                      <li class="meta-item blog-lesson">
                        <span class="meta-value"> April 13, 2020 </span>
                      </li>
                      <li class="meta-item blog-students">
                        <span class="meta-value"> 6min read</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="grids5-info mt-5">
                  <a href="#blog-single" class="d-block zoom"><img src="assets/images/2.jpg" alt=""
                      class="img-fluid radius-image news-image"></a>
                  <div class="blog-info align-self">
                    <a href="#blog-single" class="blog-desc1">Register a Domain or Subdomain With a
                      Website Host
                    </a>
                    <div class="author align-items-center mt-3 mb-1">
                      <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                      <li class="meta-item blog-lesson">
                        <span class="meta-value"> April 13, 2020 </span>
                      </li>
                      <li class="meta-item blog-students">
                        <span class="meta-value"> 6min read</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="grids5-info mt-5">
                  <a href="#blog-single" class="d-block zoom"><img src="assets/images/3.jpg" alt=""
                      class="img-fluid radius-image news-image"></a>
                  <div class="blog-info align-self">
                    <a href="#blog-single" class="blog-desc1">Home to Customize your blog's theme
                      with 3 simple steps
                    </a>
                    <div class="author align-items-center mt-3 mb-1">
                      <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                    </div>
                    <ul class="blog-meta">
                      <li class="meta-item blog-lesson">
                        <span class="meta-value"> April 13, 2020 </span>
                      </li>
                      <li class="meta-item blog-students">
                        <span class="meta-value"> 6min read</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //block -->
    </div>
  </div>
  <!-- footer -->
  <footer class="w3l-footer-16">
    <div class="footer-content py-lg-5 py-4 text-center">
      <div class="container">
        <div class="copy-right">
          <h6>© 2020 Design Blog. Made with <span class="fa fa-heart" aria-hidden="true"></span>, Designed by
            <a href="https://w3layouts.com">W3layouts</a>
          </h6>
        </div>
        <ul class="author-icons mt-4">
          <li><a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
          <li><a class="linkedin" href="#url"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
          <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a></li>
        </ul>
        <button onclick="topFunction()" id="movetop" title="Go to top">
          <span class="fa fa-angle-up"></span>
        </button>
      </div>
    </div>

    <!-- move top -->
    <script>
      en the user scrolls down 20px from the top of the document, show the button
      w.onscroll = function () {
        lFunction()
        ion scrollFunction() {
          ocument.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            ent.getElementById("movetop").style.display = "block";
            e {
              ent.getElementById("movetop").style.display = "none";
              en the user clicks on the button, scroll to the top of the document
              ion topFunction() {
                ent.body.scrollTop = 0;
                ent.documentElement.scrollTop = 0;
              }
    </script>
    <!-- //move top -->
  </footer>
  <!-- //footer -->

  <!-- Template JavaScript -->
  <script src="assets/js/theme-change.js"></script>

  <script src="assets/js/jquery-3.3.1.min.js"></script>

  <!-- disable body scroll which navbar is in active -->
  <script>
            ion() {
              bar - toggler').click(function () {
              ').toggleClass('noscroll');
            });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>